.section {
  height: 100vh;
  width: 33.33%;
  display: inline-block;
  float: left;
  background: lightgreen;
}

.second {
  background: orange;
}

.third {
  background: lightblue;
}

.bottom-block {
  width: 33.33%;
  height: 200px;
  background: red;
  position: absolute;
  bottom: 0;
}

.text {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-top: 65px;
}
